<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bx.implatform.mapper.FriendMapper">
    <resultMap id="depart_result" type="com.bx.implatform.entity.Friend"/>
    <parameterMap id="depart_parameter" type="com.bx.implatform.entity.Friend"/>
</mapper>
